---
rdf_prefix_path: _data/prefixes.rq
layout: basic
---
{%- capture categories_query -%}
select distinct ?category ?label {
  ?category a skos:Concept .
}
{%- endcapture -%}

{%- capture schemes_query -%}
select distinct ?scheme ?label {
  ?scheme a skos:ConceptScheme .
}
{%- endcapture -%}

{%- assign categories_results = page.rdf | sparql_query: categories_query -%}
<h2>Concepts</h2>
<ul>
{%- for category_row in categories_results -%}
<li><a href="{{ category_row.category.render_path | relativize_url }}"><span class="badge rounded-pill text-bg-info">{{ category_row.category | rdf_property: "rdfs:label", site.language }}</span></a></li>
{%- endfor -%}
</ul>

{%- assign schemes_results = page.rdf | sparql_query: schemes_query -%}
<h2>ConceptSchemes</h2>
<ul>
{%- for scheme_row in schemes_results -%}
<li><a href="{{ scheme_row.scheme.render_path | relativize_url }}"><span class="badge rounded-pill text-bg-success">{{ scheme_row.scheme | rdf_property: "rdfs:label", site.language }}</span></a></li>
{%- endfor -%}
</ul>

{%- capture projects_query -%}
select distinct ?project {
  ?project a doap:Project .
}
{%- endcapture -%}

{%- assign project_results = page.rdf | sparql_query: projects_query -%}
<h2>Apps</h2>
<div class="row row-cols-1 row-cols-md-4 g-4">
  {%- for project_row in project_results -%}
    <div class="col">
      {%- include app_card.html app=project_row.project -%}
    </div>
  {%- endfor -%}
</div>
