---
layout: basic
---

<h2>New App</h2>

<p>
  To add your app to the app store please add it as a doap:Project (<a href="https://github.com/ewilderj/doap">DOAP: Description Of A Project</a>) resource to the <a href="https://gitlab.com/coypu-project/appstore/-/blob/main/graph.ttl">appstores graph</a> and create a pull-request.
</p>
