{%- assign app = include.app -%}

{%- assign name = app | rdf_property: "doap:name", site.language -%}
{%- unless name -%}
{%- assign name = app | rdf_property: "doap:name" -%}
{%- endunless -%}

{%- assign depiction = app | rdf_property: "foaf:depiction" -%}

{%- assign categories = app | rdf_property: "doap:category", nil, true-%}

<div class="card" style="width: 18rem;">
  {%- if depiction -%}
  <img src="{{ depiction }}" class="card-img-top" alt="{{ name }}">
  {%- else -%}
  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#005b8380"></rect></svg>
  {%- endif -%}
  <div class="card-body">
    <h5 class="card-title">{{ name }}</h5>
    <p class="card-text">{{ app | rdf_property: "doap:description", site.language | markdownify }}</p>
    <div class="d-flex gap-2 justify-content-left py-2">
      {%- for category in categories -%}
        <a href="{{ category.render_path | relativize_url }}"><span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">{{ category | rdf_property: "rdfs:label", site.language }}</span></a>
      {%- endfor -%}
    </div>
    <div>
      <a href="{{ app.render_path | relativize_url }}" class="btn btn-outline-dark rounded-pill">Go &gt;</a>
    </div>
  </div>
</div>
