{%- assign person = include.person -%}

{%- assign depiction = person | rdf_property: "foaf:depiction" -%}
{%- assign name = person | rdf_property: "foaf:name" -%}
{%- unless name -%}
  {%- assign name = person -%}
{%- endunless -%}
<li><a href="{{person}}">{{ name }}</a></li>
