---
rdf_prefix_path: _data/prefixes.rq
layout: basic
---

{%- assign name = page.rdf | rdf_property: "doap:name", site.language -%}
{%- unless name -%}
{%- assign name = page.rdf | rdf_property: "doap:name" -%}
{%- endunless -%}

{%- assign categories = page.rdf | rdf_property: "doap:category", nil, true -%}
{%- assign maintainers = page.rdf | rdf_property: "doap:maintainer", nil, true -%}

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h2 class="display-5 fw-bold">{{ name }}</h2>
    <p class="col-md-8 fs-4">{{ page.rdf | rdf_property: "doap:description", site.language | markdownify }}</p>

    <div class="d-flex gap-2 justify-content-left">
      {%- for category in categories -%}
        <a href="{{ category.render_path | relativize_url }}"><span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">{{ category | rdf_property: "rdfs:label", site.language }}</span></a>
      {%- endfor -%}
    </div>
    <div>
    </div>
  </div>
</div>

<div class="row align-items-md-stretch">
  <div class="col-md-8">
    <div class="h-100 p-5 rounded-3">
      <h2>Change the background</h2>
      <p>Some more background, maybe screenshots, code examples, whatsoever.</p>
      <button class="btn btn-outline-dark rounded-pill" type="button">Example button</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="h-100 p-5 bg-light border rounded-3">
      {%- assign homepage = page.rdf | rdf_property: "doap:homepage" -%}
      {%- assign license = page.rdf | rdf_property: "doap:license" -%}
      <dl>
        <dt>Homepage</dt> <dd><a href="{{homepage}}">{{ homepage }}</a></dd>
        <dt>Programming Language</dt> <dd>{{ page.rdf | rdf_property: "doap:programming-language", site.language }}</dd>
        <dt>License</dt> <dd><a href="{{license}}">{{ license | rdf_property: "rdfs:label" }}</a></dd>
        {%- if maintainers.first -%}
          <dt>Maintainers</dt>
          <dd>
            <ul>
              {%- for maintainer in maintainers -%}
                {%- include maintainer.html person=maintainer -%}
              {%- endfor -%}
            </ul>
          </dd>
        {%- endif -%}
      </dl>
    </div>
  </div>
</div>
