---
layout: scaffold
---
<main>
<div class="container py-4">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" href="{{ "/" | relativize_url }}">
      <img height="20 em" class="me-2" src="{{ "/resources/images/Coypu-Logo-Simple-Web.svg" | relativize_url }}" role="image">
      <h1 class="fs-4">{{ site.title }}</h1>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="{{ "/new.html" | relativize_url }}" class="btn btn-primary rounded-pill px-3">New App</a></li>
    </ul>
  </header>

  {{ content }}

  <footer class="pt-3 mt-4 text-muted border-top">
    &copy; {{ "now" | date: "%Y"}}
  </footer>
</div>
</main>
