---
rdf_prefix_path: _data/prefixes.rq
layout: basic
---

<h2>{{ page.rdf | rdf_property: "rdfs:label", site.language }}</h2>

{%- capture project_query -%}
select distinct ?project {
  ?project a doap:Project ;
  doap:category ?resourceUri .
}
{%- endcapture -%}

{%- assign project_results = page.rdf | sparql_query: project_query -%}
<div class="row row-cols-1 row-cols-md-2 g-4">
  {%- for project_row in project_results -%}
    <div class="col">
      {%- include app_card.html app=project_row.project -%}
    </div>
  {%- endfor -%}
</div>
