---
---
<!doctype html>
<html lang="{{ site.language }}" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {%- assign rootResource = site.rootResource | rdf_get -%}

  {%- assign title = page.rdf | rdf_property: "rdfs:label", site.language -%}
  {%- assign root_title = rootResource | rdf_property: "rdfs:label", page.language -%}

  {%- if title -%}
  {%- assign media_title = title -%}
  {%- assign media_slogan = slogan -%}
  {%- else -%}
  {%- assign media_title = root_title -%}
  {%- assign media_slogan = rootResource | rdf_property: "schema:slogan", site.language -%}
  {%- endif -%}


  <title>{{ site.title }} | {{ media_title }}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" type="image/svg+xml" href="/resources/images/favicon.svg">
  <link rel="icon" type="image/png" href="/resources/images/favicon.png">
  <meta property="og:title" content="{{ media_title }}">
  <meta name="twitter:title" content="{{ media_title }}">
  <link rel="stylesheet" type="text/css" href="{{ "/resources/css/bootstrap.min.css" | relativize_url }}">
</head>

<body>
  {{ content }}
  <script src="{{ "/resources/js/bootstrap.min.js" | relativize_url }}"></script>
</body>
</html>
