---
rdf_prefix_path: _data/prefixes.rq
layout: basic
---

<h2>{{ page.rdf | rdf_property: "rdfs:label", site.language }}</h2>

{%- capture project_query -%}
select distinct ?project {
  ?project a doap:Project ;
    doap:category ?category .
  ?category skos:inScheme ?resourceUri .
}
{%- endcapture -%}

{%- capture categories_query -%}
select distinct ?category ?label {
  ?category a skos:Concept ;
    skos:inScheme ?resourceUri .
}
{%- endcapture -%}

{%- assign links = page.rdf | rdf_property: "rdfs:seeAlso", nil, true -%}

<div class="row">
  <div class="col-md-auto">
    {%- if links.first -%}
      <dl>
        {%- for link in links -%}
          <dt>Link</dt>
          <dd><a href="{{ link }}">{{ link }}</a></dd>
        {%- endfor -%}
      </dl>
    {%- endif -%}
    <p>{{ page.rdf | rdf_property: "rdfs:description", site.language }}</p>
    {%- assign categories_results = page.rdf | sparql_query: categories_query -%}
    <h2>Concepts</h2>
    <ul>
    {%- for category_row in categories_results -%}
    <li><a href="{{ category_row.category.render_path | relativize_url }}"><span class="badge rounded-pill text-bg-info">{{ category_row.category | rdf_property: "rdfs:label", site.language }}</span></a></li>
    {%- endfor -%}
    </ul>
  </div>
  <div class="col col-lg-2">
    <img src="{{ page.rdf | rdf_property: "foaf:depiction" }}" />
  </div>
</div>

{%- assign project_results = page.rdf | sparql_query: project_query -%}
<div class="row row-cols-1 row-cols-md-2 g-4">
  {%- for project_row in project_results -%}
    <div class="col">
      {%- include app_card.html app=project_row.project -%}
    </div>
  {%- endfor -%}
</div>
